<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("Financial Center", "Index", "Project")
            </div>
            <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
                <ul class="nav navbar-nav">
                    <li class="active">
                        @Html.ActionLink("Account Management", "AccountProfile", "Account")
                    </li>
                    <li>
                        @Html.ActionLink("Projects", "Index", "Project")
                    </li>
                    <li>
                        <a href="../help">Help</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Register", "Register", "Account")</li>
                    <li>@Html.ActionLink("Login", "Login", "Account")</li>
            </ul>
            </nav>
        </div>
    </header>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
